section {
  /* border: .1rem purple solid; */
  display: flex;
  flex: 1;
}

.container {
  /* border: .1rem rgb(74, 234, 74) solid; */
  display: flex;
  flex: 1;
  padding: 1rem;
  flex-wrap: wrap;
  gap: 0.8rem;
  justify-content: left;
}
