@import url("cabecalho.css");
@import url("painel.css");

* {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

html {
  /* border: .1rem green solid; */
}

body {
  /* border: .1rem blue solid; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #eee;
  color: #5e5e5e;
}
